<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinhai.test.repository.mybatis.MenuDAO">

    <resultMap id="MenuDTOResultMap" type="com.yinhai.test.dto.MenuDTO"></resultMap>

    <sql id="findDtoSql">
        select * from (
        select * from  menu temp
        ) t
    </sql>

    <select id="findDTOById" parameterType="String" resultMap="MenuDTOResultMap">
        <include refid="findDtoSql"></include>
        <where>
            and t.id = #{id}
        </where>
    </select>

    <select id="findMenuPage" parameterType="com.yinhai.test.dto.MenuDTO" resultMap="MenuDTOResultMap">
        <include refid="findDtoSql" />
        <where>

        </where>
    </select>

</mapper>